@model beauty3.ViewModels.AdminViewModels.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Пароль өзгерту!";
}

<link href="~/css/aboutStud.css" rel="stylesheet">
<div class="content">
    <div class="main">
        <a href="/Admin/AboutUser/@Model.Id" class="back">
            <i class="fa fa-long-arrow-alt-left"></i>
            <span>Оқушы туралы</span>
        </a>
        <form class="vhod" asp-action="ChangePassword" asp-controller="Admin">
            <h2>Пароль өзгерту</h2>

            <input type="hidden" asp-for="Id" />

            <input type="tel" asp-for="PhoneNumber" value="@Model.PhoneNumber" disabled>
            <span asp-validation-for="PhoneNumber" style="color: red"></span>

            <input type="text" asp-for="NewPassword" placeholder="Жаңа құпиясөз" required>

            <div asp-validation-summary="ModelOnly" style="color: red"></div>

            <button type="submit">Өзгерту</button>
        </form>
    </div>
</div>
@*<script src="~/js/jquery.maskedinput.min.js"></script>
<script>
    $(document).ready(function () {
        $('#phone').mask('+7 (999) 999 99 99')
    })
</script>*@