@model IEnumerable<beauty3.DbFolder.Kurs>

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "AdminIndex";
}

<link href="~/css/admin.css" rel="stylesheet">

<div class="content">
    <div class="main">
        <div class="main-head">
            <form class="search">
                <input type="text" placeholder="Тел. номер" required>
                <button><i class="fa fa-search"></i></button>
            </form>
            <div class="pager">
                <a href="#"><i class="fa fa-angle-double-left"></i></a>
                <a href="#"><i class="fa fa-angle-double-right"></i></a>
                <!-- <a href="#"><i class="fa fa-angle-double-left"></i><span>Артқа</span></a>
                <a href="#"><span>Келесі</span><i class="fa fa-angle-double-right"></i></a> -->
            </div>
        </div>
        <div class="students">
            @foreach (var v in Model)
            {
                <div class="student">
                    <div class="stud-data">
                        <p>
                            <span>@v.Name</span>
                        </p>
                        <p>@v.AvtorInfo</p>
                    </div>
                    <a href="/Admin/AboutStud" class="stud-more">Курс туралы</a>
                </div>
            }

        </div>
        <div class="pager">
            <a href="#"><i class="fa fa-angle-double-left"></i><span>Артқа</span></a>
            <a href="#"><span>Келесі</span><i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
</div>