@model IEnumerable<beauty3.DbFolder.Kurs>

@{
    ViewData["Title"] = "AllKurs";
}
<link href="~/css/index.css" rel="stylesheet">
<link href="~/css/slider.css" rel="stylesheet">

<div class="swipe-menu">
    <div class="close">
        <span></span>
        <!-- <i class="fa fa-close"></i> -->
    </div>
    <a href="" class="main-nav">
        <i class="fa fa-home"></i>
        <span>Басты бет</span>
    </a>
    <a href="/Home/Visitor#about" class="about-nav">
        <i class="fa fa-laptop"></i>
        <span>Біз жайлы</span>
    </a>
    <a href="#" class="course-nav fix-active">
        <i class="fa fa-laptop"></i>
        <span>Курстар</span>
    </a>
    <a href="#" class="more-nav">
        <i class="fa fa-phone"></i>
        <span>Қосымша</span>
    </a>
    <a href="/Account/Profil">
        <i class="fa fa-user-o"></i>
        <span>Жеке кабинет</span>
    </a>
</div>
<div class="header">
    <div class="logo">
        <img src="~/img/logo.png" alt="BeautyOnline">
        <!-- Beauty Online -->
    </div>
    <div class="nav">
        <a href="/Home/Visitor" class="main-nav">Басты бет</a>
        <a href="/Home/Visitor#about" class="about-nav">Біз жайлы</a>
        <a href="#" class="course-nav fix-active">Курстар</a>
        <a href="#" class="more-nav">Қосымша</a>
    </div>
    <a href="/Account/Profil" class="login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
    </a>
    <div class="burger">
        <span></span>
        <!-- <i class="fa fa-bars"></i> -->
        <!-- <i class="fa fa-close"></i> -->
    </div>
</div>
<div class="content">
    <div id="courses" class="courses">
        <h2>Біздің курстар</h2>
        <div class="course-items">
            @foreach (var c in Model)
            {
                <div class="course-item">
                    <div class="course-img">
                        <img src="~/kurs/@c.PhotoUrl">
                    </div>
                    <div class="course-text">
                        <h2>@c.Name</h2>
                        <p><i class="fa fa-user"></i>@c.AvtorName</p>
                        <span>@c.Info</span>
                        <a href="/Home/Kurs/@c.Id">Курс жайлы толығырақ</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.burger').hover(function () {
            $('.swipe-menu').toggleClass('active-menu')
        })
        $('.close').click(function () {
            $('.swipe-menu').removeClass('active-menu')
        })
        $(window).on('scroll', function () {
            if ($(window).scrollTop() > 90) {
                $('.header').addClass('fix-header');
            } else {
                $('.header').removeClass('fix-header');
            }
        });

    });
</script>