@{
    ViewData["Title"] = "ForgotPassword";
}
<link href="~/css/register.css" rel="stylesheet">

<div class="header">
    <a class="logo" href="/Account/Profil">
        <img src="~/img/logo.png" alt="BeautyOnline">
    </a>
    <a href="/Account/Profil" class="login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user"></i>
    </a>
</div>
<div class="content">
    <form class="vhod" asp-action="ForgotPassword">
        <p style="font-size: 18px; margin-bottom: 0">
            Құпиясөзді ауыстыру үшін электронды поштаңызға жіберілген хаттағы сілтемеге өтіңіз.
        </p>
    </form>
</div>