@model beauty3.ViewModels.AccountViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}


    <link href="css/login.css" rel="stylesheet">


<div class="wrap">
    <div class="header">
        <a class="logo" href="/Home/Visitor">
            <img src="~/img/logo.png" alt="BeautyOnline">
            <!-- Beauty Online -->
        </a>
        <a href="/Account/Login" class="login">
            <span>Жеке кабинет</span>
            <i class="fa fa-user-o"></i>
            <!-- <a href="#">Кіру / Тіркелу</a> -->
        </a>
        <!-- <div class="menu"></div> -->
    </div>
    <div class="content">
        <form class="vhod" asp-action="Login">
            <h2>Жүйеде болсаңыз</h2>
            <input type="text" asp-for="Email" placeholder="Email" required>
            <input type="password" asp-for="Password" placeholder="Құпиясөз" required>
            <button type="submit">Жүйеге кіру</button>
        </form>
        <div class="vhod">
            <h2>BEAUTY ONLINE жүйесіне тіркелу</h2>
            <p>Жалғастыру үшін жүйеге тіркелу міндетті(логин және құпиясөзге ие болу). Бұл тегін.</p>
            <a href="/Account/Register">Тіркелу</a>
        </div>
    </div>
    <div class="footer">
        FOOTER
    </div>
</div>