@model beauty3.ViewModels.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Жүйеге кіру";
}

<link href="~/css/login.css" rel="stylesheet">

<div class="header">
    <a class="logo" href="/Account/Profil">
        <img src="~/img/logo.png" alt="BeautyOnline">
    </a>
    <a href="/Account/Profil" class="login">
        <span>Жеке кабинет</span>
        
        <i class="fa fa-user"></i>
    </a>
</div>
<div class="content">
    <form class="vhod" asp-action="Login" id="loginform">
        <h2>Жүйеде болсаңыз</h2>

        <input id="phone" type="tel" asp-for="PhoneNumber" placeholder="Телефон номері" required>
        <input type="password" asp-for="Password" placeholder="Құпиясөз" required>

        <div class="valid" asp-validation-summary="ModelOnly"></div>
        @if (ViewBag.Stats != null)
        {
            <p style="color:red;">@ViewBag.Stats</p>
        }
        <p style="color:red;" id="redtext"></p>
        <button id="sendButton">Жүйеге кіру</button>
        <button id="loadBtn"
                style="padding:0; display: none; background-color: #fff; border-color: var(--brown-color);">
            <span style="height: 45px; display: flex; justify-content: center; align-items: center; overflow: hidden; ">
                <img style="width:60%; " src="~/img/loader.gif" />
            </span>
        </button>
        @*<p><a href="/Account/ForgotPassword">Пароль ұмытып калдым</a></p>*@
        <p><a href="https://wa.me/77003223366?text=Сәлеметсіз%20бе,%20мен%20паролімді%20ұмытып%20калдым,%20жаңа%20пароль%20берсеңіз???">Пароль ұмытып калдым???</a></p>
    </form>

    <div class="vhod">
        <h2>BEAUTY ONLINE жүйесіне тіркелу</h2>
        <p>Жалғастыру үшін жүйеге тіркелу міндетті(логин және құпиясөзге ие болу). Бұл тегін.</p>
        <a href="/Account/Register">Тіркелу</a>
    </div>
</div>
<script src="~/js/jquery.maskedinput.min.js"></script>
@*<script src="~/js/jquery.mask.min.js"></script>*@
<script>
    $(document).ready(function () {
        $('#phone').mask('+7 (999) 999 99 99')
    })
</script>