@model beauty3.ViewModels.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<link href="~/css/login.css" rel="stylesheet">

<div class="header">
    <a class="logo" href="/Home/Visitor">
        <img src="~/img/logo.png" alt="BeautyOnline">
        <!-- Beauty Online -->
    </a>
    <a href="/Account/Profil" class="login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
        <!-- <a href="#">Кіру / Тіркелу</a> -->
    </a>
</div>
<div class="content">
    <form class="vhod" asp-action="Login" id="loginform"> 
        <h2>Жүйеде болсаңыз</h2>
        <input id="phone" type="text" asp-for="PhoneNumber" placeholder="Телефон номері" required>
        <input type="password" asp-for="Password" placeholder="Құпиясөз" required>

        <div class="valid" asp-validation-summary="ModelOnly"></div>
        <button @*id="sendButton"*@ type="submit">Жүйеге кіру</button>
    </form>

    <button id="sendButton" type="submit">SignalR Start</button>

    <div class="vhod">
        <h2>BEAUTY ONLINE жүйесіне тіркелу</h2>
        <p>Жалғастыру үшін жүйеге тіркелу міндетті(логин және құпиясөзге ие болу). Бұл тегін.</p>
        <a href="/Account/Register">Тіркелу</a>
    </div>
</div>
<script src="~/js/jquery.maskedinput.min.js"></script>
<script>
    $(document).ready(function () {
        $('#phone').mask('+7 (999) 999 99 99')
    })
</script>