
@{
    ViewData["Title"] = "Profil";
}


<link href="~/css/login.css" rel="stylesheet">






<div class="wrap">
    <div class="header">
        <a class="logo" href="/Home/Visitor">
            <img src="~/img/logo.png" alt="BeautyOnline">
            <!-- Beauty Online -->
        </a>
        <a href="/Account/Login" class="login">
            <span>Жеке кабинет</span>
            <i class="fa fa-user-o"></i>
            <!-- <a href="#">Кіру / Тіркелу</a> -->
        </a>
        <!-- <div class="menu"></div> -->
    </div>
    <div class="content">
        <form class="vhod" asp-action="Login">
            <h2>Страница в разработке</h2>
        </form>
    </div>
    <div class="footer">
        FOOTER
    </div>
</div>зработке</h2>