@model beauty3.ViewModels.AccountViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}


<link href="~/css/register.css" rel="stylesheet">


<div class="header">
    <a class="logo" href="/Home/Visitor">
        <img src="~/img/logo.png" alt="BeautyOnline">
        <!-- Beauty Online -->
    </a>
    <a href="login.html" class="login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
        <!-- <a href="#">Кіру / Тіркелу</a> -->
    </a>
    <!-- <div class="menu"></div> -->
</div>
<div class="content">
    <form class="vhod" asp-action="Register">
        <h2>Жүйеге тіркелу</h2>
        <input type="text" asp-for="FirstName" placeholder="Аты" required>
        <input type="text" asp-for="LastName" placeholder="Тегі" required>
        <input type="text" asp-for="Email" placeholder="Email" required>
        <input type="text" asp-for="PhoneNumber" placeholder="Телефон" required>
        <input type="password" asp-for="Password" placeholder="Құпиясөз" required>
        <input type="password" asp-for="PasswordConfirm" placeholder="Құпиясөзді қайталау" required>
        <p>Құпиясөз 8 символдан кем болмауы тиіс!</p>
        <button type="submit">Тіркелу</button>
    </form>
</div>