<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="shortcut icon" href="~/img/beauty-icon.png" type="image/png">
    @*<link rel="stylesheet" href="~/font-awesome/css/fontawesome.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/const3.css">
    
    <script src="~/js/jQuery.js"></script>
</head>
<body oncontextmenu="return false;">
    <div class="wrap">
        <div class="swipe-menu">
            <div class="close">
                <span></span>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <a href="/Admin/UserList">
                    <i class="fa fa-graduation-cap"></i>
                    <span>Оқушылар</span>
                </a>
                <a href="#" class="kurs-down">
                    <i class="fa fa-list"></i>
                    <span>Курстар</span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <div class="kurs-down-menu">
                    <a href="/Admin/KursList">
                        <i class="fa fa-list"></i>
                        <span>Курстар тізімі</span>
                    </a>
                    <a href="/Admin/KursCreate">
                        <i class="fa fa-plus"></i>
                        <span>Курс қосу</span>
                    </a>
                </div>
            }
            else
            {
                <a href="/Account/Profil">
                    <i class="fa fa-star"></i>
                    <span>Менің курстарым</span>
                </a>
                <a href="/Home/AllKurs">
                    <i class="fa fa-list"></i>
                    <span>Барлық курстар</span>
                </a>
            }
            <a href="/Account/Logout">
                <i class="fa fa-sign-out-alt"></i>
                <span>Шығу</span>
            </a>
        </div>
        
        <div class="header">
            <div class="burger">
                <span></span>
            </div>
            <a class="logo" href="/Account/Profil">
                <img src="~/img/logo.png" alt="BeautyOnline">
            </a>
            <div class="login">
                <span id="username">@User.Identity.Name</span>
                <i class="fa fa-user"></i>
                <div class="user-menu">
                    <i class="fa fa-caret-up"></i>
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/Admin/UserList">
                            <i class="fa fa-graduation-cap"></i>
                            <span>Оқушылар</span>
                        </a>
                        <a href="/Admin/KursList">
                            <i class="fa fa-list"></i>
                            <span>Курстар тізімі</span>
                        </a>
                        <a href="/Admin/KursCreate">
                            <i class="fa fa-plus"></i>
                            <span>Курс қосу</span>
                        </a>
                    }
                    else
                    {
                        <a href="/Account/Profil" class="cart-show">
                            <i class="fa fa-star"></i>
                            <span>Менің курстарым</span>
                        </a>
                        <a href="/Home/AllKurs">
                            <i class="fa fa-list"></i>
                            <span>Барлық курстар</span>
                        </a>
                    }
                    <a href="/Account/Logout">
                        <i class="fa fa-sign-out-alt"></i>Шығу
                    </a>
                </div>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="sidebar">
                <a href="/Home/Visitor">
                    <i class="fa fa-home"></i>
                    <span>Басты бет</span>
                </a>
                @if (User.IsInRole("Admin"))
                {
                    <a href="/Admin/UserList">
                        <i class="fa fa-graduation-cap"></i>
                        <span>Оқушылар</span>
                    </a>
                    <a href="#" class="kurs-down">
                        <i class="fa fa-list"></i>
                        <span>Курстар</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <div class="kurs-down-menu">
                        <a href="/Admin/KursList">Курстар тізімі</a>
                        <a href="/Admin/KursCreate">Курс қосу</a>
                    </div>
                
            }
            else
            {
                <div class="sidebar">
                    <a href="/Home/Visitor">Басты бет</a>
                    <a href="/Account/Profil">Менің курстарым</a>
                    <a href="/Account/News">Жаңалықтар</a>
                    <button onclick="GetUser()">User Name</button>
                </div>
            }
                        <a href="/Admin/KursList">
                            <i class="fa fa-list"></i>
                            <span>Курстар тізімі</span>
                        </a>
                        <a href="/Admin/KursCreate">
                            <i class="fa fa-plus"></i>
                            <span>Курс қосу</span>
                        </a>
                    </div>
                }
                else
                {
                    <a href="/Account/Profil">
                        <i class="fa fa-star"></i>
                        <span>Менің курстарым</span>
                    </a>
                    <a href="/Home/AllKurs">
                        <i class="fa fa-list"></i>
                        <span>Барлық курстар</span>
                    </a>
                }
            </div>
        }

        @RenderBody()
    
    </div>


    <script src="~/signalr/dist/browser/signalr.js"></script>
    <script src="~/signalr/SignBeau.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.kurs-down').click(function (e) {
                e.preventDefault();
                $('.kurs-down-menu').slideToggle(100);
                $(this).toggleClass('act-kurs-down');
                $(this).children('i.fa-angle-right').toggleClass('act-down-icon');
            });

            $('.login').click(function () {
                $('.user-menu').slideToggle(300);
            });
            $('.content').click(function () {
                $('.user-menu').slideUp(300);
            });

            $('.burger').click(function () {
                $('.swipe-menu').toggleClass('active-menu')
            })
            $('.close').click(function () {
                $('.swipe-menu').removeClass('active-menu')
            })
        });
    </script>
</body>
</html>
